nav {
        background-color: gainsboro; list-style-type: none; text-align: center; margin:0;padding: 0; font-size: 20px; font-family: sans-serif;
}


nav li {display: inline-block;font-size: 20px; padding: 25px; font-family: sans-serif; list-style-type: none;}
main {list-style-type: circle;}

@media only screen and (max-width:640px){
    header{
        position: absolute;
    }
}
#menu-icon{
    display: inline-block;
}