div {
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    padding: 40px;
    width: 65%;
    border: 5px double green;
    color: green;
    font-size: 75%;
    text-align: center;
    font-weight: bold;
    border-radius: 30px 30pxpx 30px 30px;
    box-shadow: 3px 3px 4px 4px black;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80%;
  margin-left: 80px;
}
h1{color: gainsboro}


 
body {background-color: gainsboro; font-family: sans-serif;}
nav {
        background-color: gainsboro; list-style-type: none; text-align: center; margin:0;padding: 0; font-size: 20px; font-family: sans-serif;
}

nav li {display: inline-block;font-size: 204x; padding: 25px; font-family: sans-serif;
}
header {border-style:inset; background-image: url(https://i.pinimg.com/originals/de/cb/df/decbdf32aedb01a274625d9fd39cb201.jpg); padding: 50px; font-size: 25px; font-family: sans-serif;}
header {border-style:inset; background-color: green; padding: 50px; font-size: 25px; font-family: sans-serif;}
header {border-style:inset; background-color: green; padding: 50px; font-size: 25px; font-family: sans-serif;}

img{
    float:left;
    margin-right: 3px;
}
#last {clear:left;}

footer {
   
   margin-top: 100px;
    padding-top: 100px;
    border-top-style: solid;
    border-top-color: black;
   left: 0;
   bottom: 0;
   width: 100%;
   background-image:url(DD-Blurred-Spring-Background-88878-Preview.jpg);
    text-align: left;}
p{font-family: sans-serif; font-size: 20px;}